**.env
*.exe
*.lib
*.dll
*.exp
*.obj
*.suo
*.u2d
Debug/
Release/
.vs/
*.pdb
*.user
*.list
*.lst
*.cbc
*.cbb
*.hds
*.ddn
*.zta
*.zobs
*.ucn
*.bsv
*.out
*.grb
*.bin
*.sg
*.30
*.output.dat
*.csv
*.chk

*.pyc
*.mod
*.pui
*.bak

*.aux
*.idx
*.lof
*.log
*.lot
*.synctex.gz
*.toc
*_genmod.f90

.idea/
*.o

examples/python/.ipynb_checkpoints/*.ipynb
doc/Notes/*.pdf
doc/mf6report/*.pdf
doc/GWFModelReport/*.pdf
doc/mf6bmi/*.pdf
doc/mf6io/*.pdf
doc/ReleaseNotes/*.pdf
doc/GettingStarted/*.pdf
doc/XT3DReport/*.pdf
doc/UserGuide/*.pdf
doc/ConverterGuide/*.pdf
doc/zonebudget/*.pdf
doc/SuppTechInfo/*.pdf

bin/**

UserPrefs.xml

tmp_simulations/
autotest/temp/
autotest/tempbin/
autotest/*.html
autotest/notebooks/

distribution/temp/
distribution/temp_zip/
distribution/*.zip
dist

mod_temp/
obj_temp/
src_temp/
pymake/dependencies/
pymake/dependencies_std/

trash/

.ipynb_checkpoints/

distrib_training/mf6beta*
distrib_training/HeadViewer*

*.depend
*.layout
*.delta

Thumbs.db

*.blg


msvs/My Advisor Results*

build/
lib/
CMakeFiles/

# ReadTheDocs
.doc/_build
.doc/_mf6io
.doc/_mf6src
.doc/mf6io.rst
.build_rtd_docs/_build
.build_rtd_docs/_mf6io
.build_rtd_docs/_mf6src
.build_rtd_docs/_mf6run
latex/
html/
xml/
distribution/run-time-comparison.md
doc/ReleaseNotes/run-time-comparison.tex

# Intel Fortran Visual Studio intermediate files
msvs/*.fdz

# Visual Studio Code
modflow6.code-workspace
.vscode/settings.json
.vscode/launch.json


# unittests
unittests/

**/__pycache__
**/.benchmarks
