###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*            text=auto

###############################################################################
# Set the merge driver for project and solution files
#
*.sln        text eol=crlf
*.vfproj     text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.pdf binary

# Configure github-linguist
*.inc linguist-language=Fortran
.build_rtd_docs/** linguist-documentation
.doc/** linguist-documentation
# GitHub syntax highlighting
pixi.lock linguist-language=YAML

