*.exe
*.lib
*.obj
*.suo
*.u2d
Debug/
Release/
*.pdb
*.user
*.list
*.lst
*.cbc
*.cbb
*.hds
*.ddn
*.zta
*.zobs
*.ucn
*.bsv
*.out
*.grb
*.bin
*.sg
*.30
*.output.dat
*.csv
*.chk

*.pyc
*.mod
*.pui
*.bak

*.aux
*.idx
*.lof
*.log
*.lot
*.synctex.gz
*.toc
*_genmod.f90

.idea/
*.o

examples/python/.ipynb_checkpoints/*.ipynb
doc/Notes/*.pdf
doc/mf6report/*.pdf
doc/GWFModelReport/*.pdf
doc/mf6io/*.pdf
doc/ReleaseNotes/*.pdf
doc/GettingStarted/*.pdf
doc/XT3DReport/*.pdf
doc/UserGuide/*.pdf
doc/ConverterGuide/*.pdf
doc/zonebudget/*.pdf

bin/mf6
bin/mf5to6
bin/zbud6

tmp_simulations/
autotest/temp/
autotest/*.html

.ipynb_checkpoints/

distrib_training/mf6beta*
distrib_training/HeadViewer*

*.depend
*.layout
*.delta

Thumbs.db

*.blg

*.bat
