language: fortran
os: linux
dist: trusty
sudo: required
compiler: gcc
cache:
  apt: true
  pip: true
  directories:
    - $HOME/.cache/pip
    - $HOME/.local
      
matrix:
  include:
    - env: CVER=gfortran4
      addons:
        apt:
          sources: 
            - ubuntu-toolchain-r-test
          packages: 
            - gfortran-4.9
            - texlive-base
            - texlive-latex-base
            - texlive-latex-extra
            - texlive-latex-recommended
            - texlive-science
            - texlive-fonts-recommended
            - texlive-fonts-extra
            - dpkg
            - tex-common
            - latex-xcolor
            - unzip

    - env: CVER=gfortran5
      addons:
        apt:
          sources: 
            - ubuntu-toolchain-r-test
          packages: 
            - gfortran-5
            - texlive-base
            - texlive-latex-base
            - texlive-latex-extra
            - texlive-latex-recommended
            - texlive-science
            - texlive-fonts-recommended
            - texlive-fonts-extra
            - dpkg
            - tex-common
            - latex-xcolor
            - unzip

    - env: CVER=gfortran6
      addons:
        apt:
          sources: 
            - ubuntu-toolchain-r-test
          packages: 
            - gfortran-6
            - texlive-base
            - texlive-latex-base
            - texlive-latex-extra
            - texlive-latex-recommended
            - texlive-science
            - texlive-fonts-recommended
            - texlive-fonts-extra
            - dpkg
            - tex-common
            - latex-xcolor
            - unzip

    - env: CVER=gfortran7
      addons:
        apt:
          sources: 
            - ubuntu-toolchain-r-test
          packages: 
            - gfortran-7
            - texlive-base
            - texlive-latex-base
            - texlive-latex-extra
            - texlive-latex-recommended
            - texlive-science
            - texlive-fonts-recommended
            - texlive-fonts-extra
            - dpkg
            - tex-common
            - latex-xcolor
            - unzip
     
  allow_failures:
    - env: CVER=gfortran7
     



install:
    - if [[ ! -d "$HOME/.local/bin" ]]; then
        mkdir "$HOME/.local/bin";
      fi
    - export PATH="$HOME/.local/bin:$PATH"
    - if [[ $CVER == "gfortran4" ]]; then
        ln -fs /usr/bin/gfortran-4.9 "$HOME/.local/bin/gfortran";
        gfortran --version;
        ls -l /usr/bin/gfortran-4.9;
      fi
    - if [[ $CVER == "gfortran5" ]]; then
        ln -fs /usr/bin/gfortran-5 "$HOME/.local/bin/gfortran";
        gfortran --version;
        ls -l /usr/bin/gfortran-5;
      fi
    - if [[ $CVER == "gfortran6" ]]; then
        ln -fs /usr/bin/gfortran-6 "$HOME/.local/bin/gfortran";
        gfortran --version;
        ls -l /usr/bin/gfortran-6;
      fi
    - if [[ $CVER == "gfortran7" ]]; then
        ln -fs /usr/bin/gfortran-7 "$HOME/.local/bin/gfortran";
        gfortran --version;
        ls -l /usr/bin/gfortran-7;
      fi
    # install anaconda
    - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
        wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
      fi
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    # Useful for debugging any issues with conda
    - conda info -a
    - conda install nose
    - python --version
    - pip install -r requirements.travis.txt
    - pip install https://github.com/modflowpy/flopy/zipball/develop
    - pip install https://github.com/modflowpy/pymake/zipball/master
    - pip install nose-timer


script:
    - pwd
    - git clone https://github.com/MODFLOW-USGS/modflow6-examples.git ../modflow6-examples
    - ls ../
    - which python
    - python --version
    - python -c "import flopy; flopypth = flopy.__path__[0]; print('flopy is installed in {}'.format(flopypth))"
    - which nosetests
    - nosetests --version
    - nosetests -v --with-id --with-timer -w ./autotest
