name: modflow6

channels:
  - conda-forge
  - defaults

dependencies:
  - appdirs
  - codespell
  - filelock
  - flaky
  - fprettify
  - fortran-language-server
  - gitpython
  - jupytext
  - matplotlib
  - meson=1.3.0
  - ninja
  - numpy
  - pip
  - pip:
      - git+https://github.com/modflowpy/flopy.git
      - git+https://github.com/modflowpy/pymake.git
      - git+https://github.com/Deltares/xmipy.git
      - git+https://github.com/MODFLOW-USGS/modflowapi.git
      - git+https://github.com/MODFLOW-USGS/modflow-devtools.git
  - pyshp
  - pytest!=8.1.0
  - pytest-benchmark
  - pytest-dotenv
  - pytest-order
  - pytest-xdist
  - python
  - scipy
  - shapely
  - syrupy
  