\subsection{Version mf(( version ))---(( date ))}

([ for section_key, section_items in items|groupby("section") ])
\textbf{\underline{(( sections[section_key] ))}}

([ for subsection_key, subsection_items in section_items|groupby("subsection") ])
([ set subsection = subsections[subsection_key] ])
([ if subsection|length > 0 ])
\underline{(( subsection ))}
([ endif ])

\begin{itemize}
([ for item in subsection_items ])
\item (( item.description ))
([ endfor ])
\end{itemize}

([ endfor ])
([ endfor ])
